.overskrift {
  padding-bottom: 100px;
  padding-top: 100px;
}

/**********kvittering*********/

.kvittering {
  display: flex;
  align-items: stretch; /**gør at børnene fylder hele bredden**/

  background-color: var(--card-bg-color);
  max-width: 400px;
  margin: auto;
  padding: 15px;
  margin-bottom: 200px;

  flex-direction: column; /*gør elemterne i boksen lodrette og ikke vandrette*/
}

.p_kvit {
  font-size: 30px;
}

hr {
  width: 100%; /**når hr er et grid bliver den usynlig, så det fikser den**/
  border: 1px dashed black; /*for at gøre dem stiplet*/
}

.adresse {
  padding-top: 25px;
  padding-bottom: 25px;
  line-height: 40px;
  text-align: center; /**får teksten i midten**/
}

.tema_kvit {
  padding-top: 25px;
  padding-bottom: 25px;
}

.btn_kvit {
  display: flex;
  justify-content: space-between;
}

.procent {
  font-size: 12px;

  display: flex;
  justify-content: space-between;
}

.pris {
  margin-left: auto;
}

.gebyr {
  display: flex;
  justify-content: space-between;

  padding-top: 15px;
  padding-bottom: 15px;
}

.total {
  display: flex;
  justify-content: space-between;

  padding-top: 20px;
  font-size: 20px;
}

.betjent {
  padding-top: 65px;
  padding-bottom: 25px;
  line-height: 40px;
  text-align: center; /**får teksten i midten**/
}

/*****img*****/

.pin_container {
  justify-items: center; /*gør pinen ligger i midten*/
  position: relative; /*gør det muligt at min pin kan ligges relativt*/
  overflow: visible; /*gør at når min pin stikker ud, så den ikke klippet af*/
}

.pin {
  position: absolute; /*så man kan rykke billedet hen hvor man vil uden det påvirker forældre boksen*/
  top: -32px; /* Flytter billedet 50px op over containerens top */
  left: 46%; /* Centrerer vandret */

  width: 50px;
}

.stregkode {
  padding-top: 100px;
  padding-bottom: 70px;
}

.pc_container {
  justify-items: center; /*gør pinen ligger i midten*/
  position: relative; /*gør det muligt at min pin kan ligges relativt*/
}

.computer {
  position: absolute; /*så man kan rykke billedet hen hvor man vil uden det påvirker forældre boksen*/
  top: 33px; /* Flytter billedet 50px op over containerens top */
  left: -4%; /* Centrerer vandret */
}

.tema2forside {
  width: 350px;
}

/*******andet********/

.josefine {
  text-align: center;
  font-size: clamp(100px, 20vw, 400px);
}

/*********tema*******/
.card {
  background-color: white;
  width: 350px;
  height: 350px;
  padding: 23px;

  margin-top: 20%;
  margin-bottom: 20%;
}

.pin2 {
  position: absolute; /*så man kan rykke billedet hen hvor man vil uden det påvirker forældre boksen*/
  top: -50px; /* Flytter billedet 50px op over containerens top */
  left: 46%; /* Centrerer vandret */

  width: 50px;
}

.card2 {
  background-color: white;
  background-position: 20% center;
  width: 350px;
  height: 350px;
  padding: 23px;
}

.card3 {
  background-color: white;
  padding-top: 25px;
  width: 350px;
  height: 350px;
}
